.CryptoConteiner{
    width: 100%;
    height: fit-content;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
 
}
@media screen and (max-width:'769px') {
    .CryptoConteiner{
        width: 100%;
        height: fit-content;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
     
    }
}